html {
  scroll-behavior: smooth;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  color: #fff;
  font-size: 4rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
  margin: 0 0 2rem;
}
p {
  font-size: 1.4rem;
  margin: 1rem 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
}
input,
textarea {
  box-sizing: border-box;
}

.wrapper {
  max-width: calc(1280px + 3%);
  margin: 0 auto;
  padding: 0 3%;
}

.app {
  position: relative;
}

.app__header {
  position: fixed;
  width: 100%;
  background-color: rgba(93, 93, 93, 0.394);
  padding: 1rem 0;
  z-index: 9;

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding: 0 3%;

    li a {
      font-size: 1.5rem;
      padding: .5rem;
      color: #fff;
    }
  }
}

.hero {
  height: 100vh;
  margin: 0;

  .wrapper {
    display: flex;
    height: 100%;
    align-items: center;

    .hero__text {
      z-index: 9;

      h1 {
        display: flex;
        flex-direction: column;
      }
    }
  }

  canvas {
    position: absolute;
    background: black;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.about {
  background-color: rgb(207, 227, 254);
  padding: 2rem 0;

  .about__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;

    .container__img {
      width: 25%;
      min-width: 15rem;

      img {
        display: block;
        margin: 0 0 0 auto;
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
        object-fit: cover;
      }
    }
    .container__text {
      width: 70%;
    }
  }
}
@media (max-width: 1021px) {
  .about {
    .about__container {
      .container__img,
      .container__text {
        width: 100%;
      }
      .container__img {
        img {
          margin: 0 auto;
        }
      }
    }
  }
}
.skills {
  padding: 2rem 0;
  .skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;

    .skills__item {
      display: flex;
      flex-direction: column;
      width: 18%;
      min-width: 10rem;
      align-items: center;
      text-align: center;
    }
  }
}

.work {
  padding: 2rem 0;
  .work__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;

    .work__item {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      align-items: flex-start;
      justify-content: center;
      max-width: 100%;

      .item__text {
        width: 60%;

        .item__btns {
          display: flex;
          gap: 1rem;
          a {
            padding: 1rem;
            border: 2px solid silver
          }
        }
      }
      .item__img {
        width: calc(40% - 2rem);

        img {
          width: 100%;
        }
      }
    }
    .work__item:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}
@media (max-width: 768px) {
  .work {
    .work__items {
      .work__item {
        .item__text,
        .item__img {
          width: 100%;
        }
      }
    }
  }
}
.contact {
  padding: 3% 0;

  .contact__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .contact__form {
      width: calc(50% - 1rem);
      min-width: 400px;
      position: relative;
      transform-style: preserve-3d;
      transition: .5s transform;

      form {
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: .5rem;
        padding: 1rem;
        background-color: aqua;

        input {
          width: 100%;
          height: 2rem;
        }
        textarea {
          width: 100%;
        }
      }
      .form__back {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        border: 1px solid silver;
        transform: translateZ(-1px) rotateY(180deg);
        transition: .5s transform;
      }
      
    }
    .contact__form.active {
      transform: rotateY(180deg);

      .form__front {
        pointer-events: none;
      }
      .form__back{
        transform: translateZ(0) rotateY(180deg);
      }
    }
  }
    .contact__social {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(50% - 1rem);
      min-width: 400px;

      .social__links {
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
      }
    }
  }
