html {
  scroll-behavior: smooth;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  box-sizing: border-box;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.467)), linear-gradient(0deg, rgba(153, 119, 34, 0.333), rgb(44 34 153 / 33%)), url(https://i.ibb.co/vJt5HSh/noisy-texture-300x300-o10-d10-c-a82851-t1.png);
  // background-attachment: fixed;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2, h3, h4, p, a, li, span, label, input, textarea {
  color: #fff;
}
input, textarea {
  border: none;
  border-bottom: 2px solid silver;
}
input:focus, 
textarea:focus {
  border-bottom: 2px solid #3d838e;
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #454545!important;
}
h1 {
  color: #fff;
  font-size: 4rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
  margin: 0 0 2rem;
}
p {
  font-size: 1.4rem;
  margin: 1rem 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  font-size: 1.4rem;
  margin: 0;
}
input,
textarea {
  box-sizing: border-box;
}

.wrapper {
  max-width: calc(1280px + 3%);
  margin: 0 auto;
  padding: 0 3%;
}

.app {
  position: relative;
}

.app__header {
  position: fixed;
  width: 100%;
  background-color: rgba(93, 93, 93, 0.394);
  padding: 1rem 0;
  z-index: 9;

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding: 0 3%;

    li a {
      font-size: 1.5rem;
      padding: .5rem;
      color: #fff;
    }
  }
  .brg {
    position: relative;
    display: none;
    width: 30px;
    height: 3px;
    background: #fff;
    margin: .5rem 1rem .5rem auto;
    transition: .2s all;
  }
  .brg:before {
    position: absolute;
    content: "";
    left: 0;
    top: 8px;
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    transition: .2s all;
  }
  .brg:after {
    position: absolute;
    content: "";
    left: 0;
    top: -8px;
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    transition: .2s all;
  }
  .brg.active {
    background: transparent;
  }
  .brg.active:before {
    width: 23px;
    transform: rotate(-45deg);
    transform-origin: center left;
  }
  .brg.active:after {
    width: 23px;
    transform: rotate(45deg);
    transform-origin: center left;
  }
}
@media (max-width: 768px) {
  .app__header {
    ul {
      position: absolute;
      top: 0;
      left: -100%;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100vh;
      background: rgb(44 34 153);
      padding: 4rem;
      transition: .4s all;
    }
    ul.active {
      left: 0;
    }
    .brg {
      display: block;
    }
  }
}

.hero {
  height: 100vh;
  margin: 0;

  .wrapper {
    display: flex;
    height: 100%;
    align-items: center;

    .hero__text {
      z-index: 9;

      h1 {
        display: flex;
        flex-direction: column;
      }
    }
  }

  canvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.hero {
  h1 {
    display: flex;
    flex-direction: column;
  }
}

.about {
  padding: 2rem 0;

  .about__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;

    .container__img {
      width: 25%;

      img {
        display: block;
        margin: 0 0 0 auto;
        width: 100%;
        object-fit: cover;
      }
    }
    .container__text {
      width: 70%;

      .workExperience {
        max-height: 500px;
        overflow: hidden;
        transition: .5s all;

        &.disable {
          max-height: 0;
        }

        .workList {
          padding: 0;
          margin-bottom: 2rem;

          .name {
            span{
              font-weight: 800;
            }
          }
          .experience {
            font-size: 0.875rem;
            font-weight: 400;
            font-style: italic;
            margin-bottom: .5rem;
          }
          .tasks {
            font-size: 1.2rem;
          }
        }
      }
      .educationList {
        padding: 0;
        margin-bottom: 2rem;
        .name {
          span {
            font-weight: 800;
          }
        }
        .info {
          font-size: 0.875rem;
          font-weight: 400;
          font-style: italic;
          margin-bottom: 1rem;
        }
      }

      .aboutModal {
        max-height: 0;
        overflow: hidden;
        transition: .5s all;

        &.active {
          max-height: 500px;
        }
        p {
          margin: 0 0 1rem;
        }
      }

      button {
        width: 6rem;
        height: 2rem;
        margin: 0 auto 1.5rem;
        border: 2px solid silver;
        background-color: transparent;
        color: #fff;
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s all;

        &:hover {
          transform: translate(-2px, -2px);
          box-shadow: 4px 4px 0px 0px #fff;
        }
      }
    }
  }
}

@media (max-width: 1021px) {
  .about {
    .about__container {
      .container__img {
        img {
          width: 60%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .about {
    .about__container {
      .container__img,
      .container__text {
        width: 100%;
      }
      .container__img {
        img {
          margin: 0 auto;
        }
      }
    }
  }
}
.skills {
  padding: 2rem 0;

  .skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    align-items: flex-start;
    justify-content: center;

    .skills__item {
      display: flex;
      flex-direction: column;
      width: max-content;
      align-items: center;
      text-align: center;

      svg {
        color: #fff;
      }
    }
  }
  @media (max-width: 425px) {
    .skills__list {
      gap: 0;
      justify-content: flex-start;
      .skills__item {
        width: 50%;
      }
    }
  }
}
@media (min-width: 320px) {
  .about > div, 
  .skills > div,
  .about__title > div,
  .hero > div {
    width: calc(300px + 3%);
    margin: 0px auto;
    padding: 0px 3%;
  }
}
@media (min-width: 425px) {
  .about > div, 
  .skills > div,
  .about__title > div,
  .hero > div {
    width: calc(386px + 3%);
    margin: 0px auto;
    padding: 0px 3%;
  }
}
@media (min-width: 768px) {
  .about > div, 
  .skills > div,
  .about__title > div,
  .hero > div {
    width: calc(698px + 3%);
    margin: 0px auto;
    padding: 0px 3%;
  }
}
@media (min-width: 1024px) {
  .about > div, 
  .skills > div,
  .about__title > div,
  .hero > div {
    width: calc(930px + 3%);
    margin: 0px auto;
    padding: 0px 3%;
  }
}
@media (min-width: 1395px) {
  .about > div, 
  .skills > div,
  .about__title > div,
  .hero > div {
    width: calc(1280px + 3%);
    margin: 0px auto;
    padding: 0px 3%;
  }
}
.about__title {
  h3 {
    text-align: center;
  }
}



.work {
  padding: 2rem 0;
  .work__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;

    .work__item {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      align-items: flex-start;
      justify-content: center;
      width: 100%;

      .item__text {
        width: 60%;

        .item__btns {
          display: flex;
          gap: 1rem;

          a {
            padding: .8rem 1rem;
            border: 2px solid silver;
            transition: .4s all;
          }
          a:hover {
            transform: translate(-2px, -2px);
            box-shadow: 4px 4px 0px 0px #fff;
          }
        }
      }
      .item__img {
        width: calc(40% - 2rem);

        img {
          width: 100%;
          cursor: zoom-in;
        }
        img:not(:first-child) {
          display: none;
        }
      }
    }
    .work__item:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}
@media (max-width: 768px) {
  .work {
    .work__items {
      .work__item {
        .item__text,
        .item__img {
          width: 100%;
        }
      }
    }
  }
}
.contact {
  padding: 3% 0;

  .contact__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .contact__form {
      width: calc(50% - 1rem);
      min-width: 400px;
      position: relative;
      transform-style: preserve-3d;
      transition: .5s transform;

      button {
        width: 8rem;
        height: 2.5rem;
        margin: 0 auto;
        border: 2px solid silver;
        background-color: transparent;
        color: #fff;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        transition: .4s all;
      }
      button:hover {
        transform: translate(-2px, -2px);
        box-shadow: 4px 4px 0px 0px #fff;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
        opacity: 1;
        
        div {
          position: relative;
        }
        input {
          height: 2rem;
        }
        label {
          position: absolute;
          top: .2rem;
          left: 0;
          transition: .5s all;
        }
        input,
        textarea {
          width: 100%;
          background-color: transparent;
          z-index: 9;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px rgb(40 31 12) inset !important;
        }
        input:-webkit-autofill{
          -webkit-text-fill-color: #fff !important;
        }
        input:focus + label,
        textarea:focus + label {
          top: -1.2rem;
        }
        input:valid + label {
          top: -1.2rem;
        }
        .notEmpty + label {
          top: -1.2rem;
        }
      }
      .form__back {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: translateZ(-1px) rotateY(180deg);
        transition: .5s transform;
      }
      
    }
    @media (max-width: 425px) {
      .contact__form {
        min-width: 380px;

        input,
        textarea {
          font-size: 1.2rem;
        }
      }
    }
    .contact__form.active {
      transform: rotateY(180deg);

      .form__front {
        pointer-events: none;
        opacity: 0;
        transition: .2s all;
      }
      .form__back{
        transform: translateZ(0) rotateY(180deg);
        opacity: 1;
        transition: .2s all;
      }
    }
  }
    .contact__social {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(50% - 1rem);
      min-width: 400px;

      .social__links {
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
      }
    }
  }